.jumbotron-fluid {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-pills .nav-item .nav-link {
  background-color: rgba(0, 255, 255, 0.5);
}

#searchBtn{
  background-color: rgba(0, 255, 255, 0.5);
}

.hide {
  display: none;
}